@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap&subset=thai');

body {
  font-family: Inter, Prompt, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: .9em;
}

.post-content ul > li {
  margin-bottom: .5em;
}

.post-content h2 {
  margin-top: 1.5em;
}
