@import url('https://fonts.googleapis.com/css?family=Prompt:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap&subset=thai');

body {
  font-family: Inter, Prompt, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

img.circle {
  max-width: 180px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: .9em;
}

.post-content ul > li,
.post-content ol > li {
  margin-top: .5em;
}

.post-content h2 {
  margin-top: 1.5em;
}
